section {
    width: 80%;
    padding: 20px;
    margin: 50px auto;
}

.form-row {
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-between;
    width: 40%;
    min-width: 200px;
}