header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(./header-background.jpg);
    color: white;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1,
h2,
h3 {
    font-weight: 100;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    font-size: 240%;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 30px;
    text-shadow: 0 1px 1px #e5e5e5;
}