.ReactModalPortal>div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 0.98;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: #464b5e;
  color: white;
  width: 250px;
  height: 210px;
  outline: none;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal__title {
  margin: 0 0 20px 0;
}

.modal__body {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 0 10px 0;
  word-break: break-all;
}
  
.input-credentials {
  width: 90%;
  margin-bottom: 30px;
  text-align: center;
  line-height: 30px;
} 