.btn-modal,
.btn-modal {
    display: inline-block;
    background-color: #1b8b05;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #1b8b05;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color 0.2s;
    outline: none;
}

.btn-modal:hover {
    display: inline-block;
    background-color: #1f9c05;
    border: 1px solid #1f9c05;
    color: #fff;
    outline: none;
    cursor: pointer;
}