.btn,
.btn {
    margin-right: 10px;
    display: inline-block;
    background-color: #1f9c0542;
    color: rgb(110, 110, 110);
    padding: 3px 15px;
    border: 1px solid #d9ffd242;
    border-radius: 1px;
    text-decoration: none;
    transition: background-color 0.2s;
    outline: none;
    font-size: 70%;
}

.btn:hover {
    display: inline-block;
    background-color: #1f9c05;
    border: 1px solid #1f9c05;
    color: #fff;
    outline: none;
    cursor: pointer;
}