.header-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f9c05;
    opacity: 0.8;
    height: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width:80%;
    height: 50px;
    margin: 0 auto;
}

.header-navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.header-navigation ul li {
    text-align: center;
    list-style: none;
    line-height: 50px;
    transition: background-color 0.2s;
}

.header-navigation ul li i {
    font-size: 2em;
}

.header-navigation ul li:hover {
    background-color: #187b04;
    cursor: pointer;
}

.header-navigation ul li a {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    outline: none;
    height: 47px;
    line-height: 50px;
}

.active {
    border-bottom: 3px solid #de7519;
}